@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0; 
    }

    body{
        font-family: 'Bebas Neue', cursive;
       background-color: black;
    }

    .guns{
        margin: 10px 50 px;
        font-family: 'Bebas Neue', cursive;
        align-items: center; 
        padding-left: 50px;
        padding-right: 100px;
        text-align: left;
        margin-inline:left;
        font-size: 20px;
       
    }
    
    .title{
        height: 22px;
        display: flex;
        align-items: left;
        justify-content: left;
        max-width: 66%;
        margin: 0%;
        font-family: 'Bebas Neue', cursive;
        color:rgb(133, 71, 0);
         font-size: 35px;
    }
   
    .name{
        font-size: 70px;
        font-family: 'Bebas Neue', cursive;
    
    }
    .para{
        color: darkgray;
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }

    .head{
        color: rgb(133, 71, 0) ;
        font-size:60px ;
        text-align: center;
        padding-bottom: 10px;
    }

    .background{
 
        padding: 30px 0;
        font-family:  'Bebas Neue', cursive;
        display: flex;
        justify-content:center ;
        color: darkgray;

    }


.head{
    color: rgb(133, 71, 0) ;
    font-size:60px ;
    text-align: center;
}

.head1{
    color: gray ;
    font-size:60px ;
    text-align: center;
}


* {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .column {
    float: left;
    width: 47%;
     padding-right:  30px;
   padding-left: 20px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
    padding-left: 20px;
  }

  .foot{
    color: darkgray ;
    padding-top: 10%;
    font-size:20px ;
   text-align: center;
  }

.title img{

    padding-right: 10px;
}
       